@import '../../../../assets/mixins/responsive_font.scss';

.item {
    position: relative;
    border-radius: 2px;
    background-color: var(--frame2);


    &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        height: 90%;
        width: 2px;
        border-radius: 2px;
        background-color: var(--no, #40C235);
    }

    &.open {

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 25px;
            border-radius: 2px;
            background: linear-gradient(90deg, #0D8F02 0%, rgba(29, 34, 37, 0.00) 100%);
        }
    }

    &[data-color='1'] {
        
    }



    .ley1 {

    }


    .sport {
        padding: 8px 6px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .name {
            display: flex;
            align-items: center;
            gap: 2px;
            color: var(--color);
            span {
                @include responsive_font(12, 12);
                font-weight: 900;
                font-style: normal;
                line-height: normal;
                text-transform: uppercase;
                font-variant-numeric: lining-nums proportional-nums;
            }
        }
    }

    .champ {
        padding: 8px 12px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .name {
            display: flex;
            align-items: center;
            gap: 2px;
            color: var(--color);
            span {
                @include responsive_font(12, 12);
                font-weight: 900;
                font-style: normal;
                line-height: normal;
                font-variant-numeric: lining-nums proportional-nums;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 180px;
                white-space: nowrap;
            }
        }
    }

    .event {
        padding: 8px 20px;
        width: 210px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include responsive_font(12, 12);
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        color: var(--color);
    }


    .actions {
        display: flex;
        align-items: center;
        gap: 2px;
        
        summary {
            @include responsive_font(12, 12);
            font-weight: 400;
            font-style: normal;
            line-height: normal;
            color: var(--no, #6F7278);
            text-align: right;
        }
    
        .dropArrow {
            padding: 0 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: .6;
            cursor: pointer;
            transition: opacity .4s ease-in-out;
            transition: transform .15s ease;
    
            &.rot {
                transition: transform .15s ease-in;
                transform: rotate(180deg);
            }
        }
    }
}