@import '../../../../assets/mixins/responsive_font.scss';

.fade {
    position: fixed;
    inset: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.8);
    ;
    transition: all .2s ease-in;
    visibility: hidden;
    opacity: 0;

    &.animate {
        transition: all .2s ease-out;
        visibility: visible;
        opacity: 1;
    }

    @media (max-width: 940px) {
        display: block;
    }
}

.sidebar {
    padding: 0.9rem 1.5rem;
    width: 75%;
    height: 100%;
    background: var(--main);
    transform: translateX(-100%);
    transition: all .2s ease-out;

    &.animate {
        transform: translateX(0%);
        transition: all .4s ease-in-out;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .frame {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        & * {
            display: flex !important;
            width: 100%;
            max-width: 100%;
        }

        h2 {
            @include responsive_font(16, 16);
            font-weight: 600;
        }
    }

    h3 {
        margin: 40px 10px 10px 10px;
        @include responsive_font(18, 18);
        font-style: normal;
        font-weight: 800;
        line-height: 1.5;
    }

    .scroll {
        padding-right: 8px;
        height: calc(100vh - 100px);
        overflow-y: auto;
    }

    .table {
        margin: 20px 0 0;
        width: 100%;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.05);
        // background: linear-gradient(135deg, var(--new-op), var(--accent));
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        transition: background 0.3s ease;
    }

    .row:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    .category {
        flex: 1.5;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 0.85em;
        color: var(--color);
    }

    .value {
        flex: 2;
        text-align: right;
        font-weight: bold;
        font-size: 0.9em;
        color: var(--color);
    }

    .row:nth-child(odd) {
        background: rgba(255, 255, 255, 0.05);
    }

    @media (max-width: 500px) {
        .row {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .category,
        .value {
            flex: 100%;
            margin-bottom: 8px;
        }

        .value {
            text-align: left;
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    a {
        padding: 6px;
        border-radius: 2px;
        background-color: var(--gray-medium-2);
        @include responsive_font(12, 12);
        font-weight: 600;
        font-style: normal;
        line-height: normal;
        color: var(--base-white);
        white-space: nowrap;

        &.active {
            background-color: var(--base-black);
        }
    }
}

.closeButton {
    margin-left: 0.5rem;
    padding: .19rem;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 0.125rem;
    color: var(--base-white);
    cursor: pointer;
    transition: all .4s ease-in-out;

    &:hover {
        transition: all .4s ease-in-out;
        opacity: .6;
    }
}